@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

.container {
    max-width: 1450px !important;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
    font-family: Montserrat;
}
.hero-heading h1 {
    color: #fff;
    font-size: 60px;
}
.breadcrummb {
    padding: 20px 0;
}
.breadcrummb .gap-5 {
    gap: 5px;
}
.ind-hero-sect {
    position: relative;
}
.overlay-image img {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    height: 350px;
}
.ind-hero-sect .container, .sect-hero-ind .container {
    z-index: 1;
}
li.breadcrumb-item-cp a {
    color: #9039B3;
    font-weight: 600;
}
.pbtm.hero-img-two img {
    width: 100%;
}

.background-gradient {
    background: var(--Linear, linear-gradient(56deg, #000 0.84%, #171717 26.26%, #191919 27.27%, #3F3F3E 49.65%, #565655 66.93%, #5F5F5E 77.1%, #6F6F6F 102.52%));
    box-shadow: 0px 7.5px 7.5px 0px rgba(148, 56, 234, 0.04), 0px 0px 21px 3.75px rgba(0, 0, 0, 0.04);
    padding: 10px 0;
}

i.bi.bi-person-fill.pr-1 {
    font-size: 20px;
}

.sign-log {
    display: flex;
    align-items: baseline;
}

.sign-log a {
    font-weight: 300;
}

.contact-us {
    background: #FFF;
    margin-left: 21px;
    padding: 10px 20px !important;
}

.txt-color {
    color: #212529 !important;
}

.search-btn {
    position: absolute;
    right: 5px;
    border-radius: 0;
    background: var(--Linear, linear-gradient(56deg, #000 0.84%, #171717 26.26%, #191919 27.27%, #3F3F3E 49.65%, #565655 66.93%, #5F5F5E 77.1%, #6F6F6F 102.52%));
    border: none;
    padding: 7px 16px;
    height: 46px;
}

.search-field {
    padding: 18px 12px;
    height: 46px;
    border: none;
    border-radius: 0;
    width: 100%;
    font-family: 'Montserrat';
}

.search-field:focus-visible {
    outline: none !important;
}

.search-field::placeholder {
    color: #212529 !important;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    opacity: 1;
}

.hero-img-one img {
    width: 65%;
    height: 630px;
    object-fit: cover;
}

.new-count {
    color: #212529;
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
}

.counter-hero span {
    color: #212529;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 70%;
    display: block;
}

.counter-hero {
    display: inline-block;
}

.new-brdr:after {
    position: absolute;
    content: "";
    height: 430px;
    width: 1px;
    background: #808080;
    right: 30%;
    top: 35px;
}

.pdng-counter {
    padding-left: 75px !important;
}

/* Abhi css starts*/
.Our-partners .ripple {
    text-align: center;
}

.bgclr {
    background: linear-gradient(56.04deg, #000000 0.84%, #171717 26.26%, #191919 27.27%, #3F3F3E 49.65%, #565655 66.93%, #5F5F5E 77.1%, #6F6F6F 102.52%);
    box-shadow: 0px 3px 41.25px 0px rgba(16, 43, 77, 0.30);
}

.Hero-banner {
    background-position: center;
    background-size: cover;
}

.row {
    margin-right: 0;
    margin-left: 0px;
}

.stle {
    display: flex;
    text-align: center;
    padding-top: 125px !important;
}

.mnb {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 93.403px;
    font-style: normal;
    font-weight: 200;
    line-height: 93.505px;
}

.first-heading {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 150px;
    font-style: normal;
    font-weight: 600;
}

.mon {
    margin-top: -249px;
    z-index: 9999999;
    margin-right: 273px;
    display: inline-block;
    position: relative;
}

.banner-head {
    z-index: 9;
}

.main-heading {
    font-size: 111px;
    font-weight: 200;
    line-height: 125px !important;
    padding-left: 75px;
}

.cst-last-hdng {
    font-size: 128px !important;
}

.inno {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 107.712px;
    font-style: normal;
    font-weight: 200;
    line-height: 101.766px;
}

.pad {
    padding-top: 100px;
}

.head {
    font-weight: 600;
}

.pbtm {
    margin-top: -470px;
    z-index: 1;
}

.category-tab {
    padding-top: 80px;
    padding-bottom: 120px;
}

.para {
    color: #000;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-top: -145px;
    width: 70%;
}

.category-tab a {
    color: #000;
}

.category-tab a.nav-link.active {
    border-radius: 50px;
    border-image-source: linear-gradient(54deg, #ED5B99 -65.15%, #D45BA7 -40.17%, #975DCD 12.17%, #625FEE 53.8%);
    border-image-slice: 0 0 1 0;
    border-width: 5px;
    padding-left: 0;
    padding-right: 0;
    color: #000;
}

p.par {
    text-align: center;
    padding-top: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.counter-box {
    padding: 40px 20px 37px;
    text-align: center
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter {
    display: block;
    color: #FFF;

    text-shadow: 0px 7.296px 100.324px rgba(16, 43, 77, 0.30);
    font-family: Montserrat;
    font-size: 77.827px;
    font-style: normal;
    font-weight: 600;
    line-height: 97.284px;
    /* 125% */
    letter-spacing: -0.458px;
}

.counter-box.colored {
    display: flex;
    color: #fff;
}

.counter-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 190px;
    color: #FFF;
    text-align: left;
    text-shadow: 0px 3px 41.25px rgba(16, 43, 77, 0.30);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.188px;
}

.counter-box.colored {
    width: 1300px !important;
}

.counter-2 {
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: end;
    /* padding: 15px 31.991px; */
    margin-right: 20px;
}

.counter-3 {

    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 15px 31.991px; */
}

.bto {
    display: flex;
    width: 196.732px;
    padding: 15px 31.991px;
    justify-content: center;
    align-items: center;
    gap: 10.664px;
    border: 0.75px solid #FFF;
    box-shadow: 0px 3px 41.25px 0px rgba(16, 43, 77, 0.30);
    color: #ffffff;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    background-color: #00ffff00;
    line-height: 22px;
    text-transform: capitalize;
}

.bto-2 {
    display: flex;
    width: 196.732px;
    padding: 15px 31.991px;
    justify-content: center;
    align-items: center;
    gap: 10.664px;
    border: 0.75px solid #FFF;
    box-shadow: 0px 3px 41.25px 0px rgba(16, 43, 77, 0.30);
    color: #000;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    background-color: #ffffff;
    line-height: 22px;
    text-transform: capitalize;
}

.container-fluid.omg {
    display: flex;
    justify-content: end;
}

.col-md-6.d-flex {
    justify-content: center;
    align-items: center;
}

.headi {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-top: 150px;
    margin-bottom: 20px;
}

.boldy {
    color: #212529;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
}

.hedi {
    color: #212529;
    font-family: Montserrat;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: -0.25px;
}

.anb {
    display: flex;
    width: 547.32px;
    height: 158.09px;
    flex-direction: column;
    justify-content: center;
}

.jist {
    color: #9039B3;
    padding-bottom: 20px !important;
    display: block;
}

.padui {
    padding-top: 40px;
    padding-left: 0;
}

.padui-2 {
    margin-left: 0;
    padding-left: 20px;
}

.category-tab .tab-pane {
    padding-top: 60px;
}

.kid {
    color: #9039B3;
}

.hover-overlay {
    position: relative;
}

.responsv-supplier {
    margin-top: 30px;
}

.pstn-abs-supplier {
    position: absolute;
    left: 100px;
    top: 140px;
    transition: 0.5s ease all;
    opacity: 0;
}

.hover-overlay:hover .pstn-abs-supplier {
    opacity: 1;
    transition: 0.5s ease all;
}

.bg-cls {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    margin-top: 40px;
}

.he h2 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.188px;
    padding-top: 55px;
}

.par-1 {
    color: #FFF !important;

    /* body */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 15px;
}

.bseu {
    padding-top: 15px
}

.bseu {
    text-align: -webkit-right;
}

.just {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.centre {
    text-align: center;
}

.bolf {
    color: var(--Rich-Black, #1A1A1A);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    padding-top: 10px;
    line-height: 24px;
    text-transform: capitalize;
}

.parti {
    color: var(--Lighter-gray, #444);
    text-align: center;
    /* Text */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
    text-transform: capitalize;
}

.category-tab .tabs {
    width: 100%;
}

.category-tab ul.nav.nav-tabs.justify-content-md-between li:nth-child(2) {
    position: absolute;
    left: 38%;
}

.category-tab ul.nav.nav-tabs.justify-content-md-between li:nth-child(3) {
    position: absolute;
    left: 63%;
}

.category-tab li.nav-item.typo:nth-child(2) .active {
    margin-top: -8px;
    margin-left: 20px;
}

.category-tab li.nav-item.typo:nth-child(3) .active {
    margin-top: -8px;
    margin-left: 20px;
}

.typo {
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31.664px;
    color: #9039B3;
}

.img-left {
    margin-top: -225px;
}

.hero-img-one {
    margin-top: 60px;
}

/* Abhi css ends*/
.trusted-partners,
.latest-suppliers {
    margin-bottom: 120px;
}

section.Advantages {
    margin-bottom: 120px;
}

/* footer css */
.chem-logo {
    align-items: center;
    display: flex;
}

.footer-padding {
    padding-top: 55px;
    padding-bottom: 55px;
}

.chem-para p {
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-top: 25px;
    line-height: 24px;
}

.heading-footer {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.heading-footer h2 {
    padding-top: 20px;
    color: #fff;

    font-family: Montserrat;
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}

.link-menus {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.second-section {
    padding-left: 80px;
    padding-right: 0;
}

.chem-first-menu p {
    padding-top: 35px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.link-menus:hover {
    color: rgb(225 138 255 / 85%) !important;
    text-decoration: none;
}

.base-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lower-paragraph.m-0 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

ul.phone-number {
    list-style: none;
}

ul.phone-number {
    padding-left: 0 !important;
}

ul.phone-number {
    padding-top: 40px;
}

.third-section {
    padding-left: 50px;
    padding-right: 0;
}

.lin-height {
    line-height: 45px;
}

a.link-menus.lin-height {
    display: flex;
    gap: 10px;
}

li.social-icons {
    gap: 25px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

li.social-icons a i {
    font-size: 25px;
}

.prod-image {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    text-align: center;
}

.carousel {
    width: 100%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

.wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
}

.prod-details {
    text-align: left;
}

.prod-name {
    color: #212529;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 30px;
    width: 282px;
    word-wrap: break-word;
}

.product-card {
    padding: 0 25px;
    border-right: 1px solid #d4d4d4;
}

.new-chemicals {
    min-height: 492px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 45px;
}

.new-chemicals-2 {
    min-height: 492px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 45px;
}

.heading-chem {
    text-align: center;
}

.heading-chem a {
    padding: 10px 20px;
    background: #fff;
    margin-top: 20px;
    color: #212529;
    display: inline-flex;
}

.heading-chem h2 {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.rate {
    position: relative;
    display: inline-block;
}

span.review-count {
    position: absolute;
    right: -40px;
    top: 12px;
    color: #212529;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #625FEE;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #625FEE;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #625FEE;
}

.shop-now {
    padding: 10px 22px;
    background: #fff;
    border: 1px solid #000;
    margin-top: 20px;
}

.cst-stocks {
    width: 165px;
    background: #A5A9B1;
    text-align: left;
    padding: 8px 20px;
    clip-path: polygon(100% 0, 100% 0%, 80% 100%, 0 100%, 0 0);
    color: #fff;
    font-size: 17px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

.cst-best-seller {
    width: 165px;
    background: linear-gradient(76.47deg, #ED5B99 -17.07%, #D45BA7 13.99%, #975DCD 79.06%, #625FEE 130.82%);
    text-align: left;
    padding: 8px 20px;
    clip-path: polygon(100% 0, 100% 0%, 80% 100%, 0 100%, 0 0);
    color: #fff;
    font-size: 17px;
    font-family: 'Montserrat';
    margin-bottom: 25px;
}

.discounted-price {
    color: #ED2B52;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: 500;
}

.original-price {
    color: #212529;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Trending-products button.slick-prev.slick-arrow {
    position: absolute;
    left: 114%;
    z-index: 9;
    top: 85%;
}

.cst-spacing {
    height: 60px;
    display: inline-block;
}

.Trending-products button.slick-next.slick-arrow {
    position: absolute;
    left: 119%;
    top: 85%;
    z-index: 9;
}

.Trending-products {
    position: relative;
}

.Trending-products .slick-prev:before {
    font-size: 35px !important;
    font-weight: 500;
}

.Trending-products .slick-next:before {
    font-size: 35px !important;
    font-weight: 500;
}

.Company-badges {
    padding: 70px 0;
}

#trending-2 button.slick-prev.slick-arrow {
    position: absolute;
    z-index: 9;
    top: 85%;
    left: -23%;
}

#trending-2 button.slick-next.slick-arrow {
    position: absolute;
    left: -18%;
    top: 85%;
    z-index: 9;
}

.category-tab a.nav-link {
    padding-left: 0;
    margin-left: 0 !important;
}
.top-bar {
    display: none;
}
/* Media Query */

@media only screen and (max-width: 767px) and (min-width: 320px) {
    .prod-details {
    text-align: center !important;
}
    
    .product-card {
    border-right: 0px solid #d4d4d4 !important;
}
    
    .top-bar {
        display: block;
    }
    html,
    body {
        overflow-x: hidden;
    }

    .category-tab .row.align-items-md-end {
        gap: 20px;
        margin-bottom: 30px;
    }

    .Trending-products button.slick-next.slick-arrow {
        position: absolute;
        left: 55%;
        top: 120%;
    }

    section#trending-2 .row {
        flex-direction: column-reverse;
    }

    .Trending-products button.slick-prev.slick-arrow {
        position: absolute;
        left: 35%;
        z-index: 9;
        top: 120%;
    }

    #trending-2 button.slick-prev.slick-arrow {
        position: absolute;
        z-index: 9;
        left: 35%;
        top: 120%;
    }

    #trending-2 button.slick-next.slick-arrow {
        position: absolute;
        left: 55%;
        top: 120%;
        z-index: 9;
    }

    .heading-chem h2 {
        margin-top: 60px;
    }

    .new-chemicals,
    .new-chemicals-2 {
        min-height: 380px;
        padding: 0px 50px;
    }
    .just {
        gap: 0px;
    }
    .category-tab ul.nav.nav-tabs.justify-content-md-between li:nth-child(2),
    .category-tab ul.nav.nav-tabs.justify-content-md-between li:nth-child(3) {
        position: unset !important;
    }

    .second-section,
    .third-section {
        padding: 0;
    }

    .footer-padding {
        padding-right: 25px !important;
        padding-left: 25px;
    }

    .stle {
        text-align: left;
        padding-top: 50px !important;
    }

    .mobile-d-none {
        display: none;
    }

    .Hero-section {
        padding-bottom: 50px;
    }

    .pad {
        padding-top: 0px;
    }

    .pad.respon-tabs {
        justify-content: flex-start !important;
    }

    .main-heading {
        font-size: 45px;
        line-height: normal !important;
        padding-left: 20px;
    }

    .first-heading {
        font-size: 60px;
        line-height: normal !important;
    }

    .cst-last-hdng {
        font-size: 50px !important;
        line-height: normal !important;
    }

    .hero-img-one {
        text-align: left !important;
        margin-top: 0 !important;
    }

    .pbtm {
        margin-top: -530px !important;

    }

    .hero-img-one img {
        width: 50% !important;
        height: 300px;
        object-fit: cover;
        margin-top: 25px;
    }

    .hero-img-two img {
        width: 50% !important;
        height: 300px;
        object-fit: cover;
    }

    .hero-img-two {
        text-align: right !important;
    }

    .para {
        margin-top: 50px;
        margin-right: 0px;
        padding-left: 0px;
        font-size: 18px;
        width: 100%;
    }

    .pdng-counter {
        padding-left: 20px !important;
    }

    .partner-respon-pdng {
        padding-top: 20px !important;
    }

    .trusted-partners {
        padding-left: 20px;
        padding-right: 20px;
    }

    .part-img-pdng {
        padding: 0;
    }

    .counter-box.colored {
        width: 100% !important;
        display: block !important;
        text-align: left;
        padding: 40px 0px 40px 0;
    }

    .counter-1 {
        display: block !important;
        margin-left: 0;
        margin-right: 0;
        font-size: 25px;
    }

    .counter-2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Our-partners .ripple {
        text-align: left;
    }

    .counter-3 {
        display: flex;
        align-items: start;
        justify-content: start;
    }

    .head {
        font-size: 25px;
    }

    .bto,
    .bto-2 {
        width: 100%;
    }

    .omg {
        display: block !important;
    }

    .omg img {
        margin-top: 70px;
        float: right;
        object-fit: cover;
        height: 425px;
        width: 500px;
    }
    .Trending-products .product-card {
        margin-bottom: 50px;
    }
    .headi {
        font-size: 16px;
        line-height: normal;
        padding-top: 50px;
    }

    .anb {
        display: block;
        width: 100%;
        height: fit-content;
    }

    .hedi {
        font-size: 25px;
        line-height: normal;
    }

    .padui-2 {
        padding-left: 15px;
    }

    .responsv-supplier {
        padding-top: 0px !important;
        margin-top: 0;
    }

    .trusted-partners,
    .latest-suppliers {
        margin-bottom: 60px;
    }
    .four {
        padding: 0 25px;
    }
    .category-tab {
        padding-bottom: 60px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }

    .latest-suppliers {
        padding-top: 50px;
    }

    .Advantages {
        margin-bottom: 60px !important;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 60px;
    }

    .Advantages .pad {
        padding: 0;
    }

    .bseu {
        text-align: center !important;
    }

    .bseu img {
        width: 10%;
    }

    .par-1 {
        line-height: normal;
        text-align: center;
    }

    .bg-cls {
        height: 800px !important;
        margin-top: 25px;
    }
    .Company-badges {
        padding: 60px 0;
    }
    .he h2 {
        font-size: 30px;
    }

    .Company-badges .centre {
        margin-bottom: 20px;
    }

    .new-count {
        font-weight: 400;
        font-size: 40px;
    }

    .counter-hero span {
        font-size: 18px;
        width: 100%;
        display: block;
    }
    .counter-hero {
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }

    .new-brdr:after {
        display: none;
    }   
    .top-bar {
        margin: 0 20px 0 10px;
    }
    /* header.chemmi-header.background-gradient {
        padding-left: 25px;
        padding-right: 0px;
    } */
    .search-btn {
        position: unset;
        margin: 0 !important;
    }
    button.navbar-toggler.hamburger-menu {
        margin-top: 35px;
        background: #fff;
    }

    .contact-us {
        margin-left: 0;
        margin-right: 0px;
        text-align: center;
    }
    .search-field {
        padding: 10px 10px;
    }
    .sign-log {
        justify-content: end;
    }
    .mobile-menus {
    
        text-align: end;
    }
    .mobile-align {
        justify-content: center;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1500px) {
    .stle {
        text-align: left;

    }
    .main-heading {
        padding-left: 50px;
    }
    .pdng-counter {
        padding-left: 140px !important;
    }
    .category-tab .tabs {
        width: 90%;
    }
    .category-tab ul.nav.nav-tabs.justify-content-md-between li:nth-child(3) {
        position: absolute;
        left: 65%;
    }
    .category-tab ul.nav.nav-tabs.justify-content-md-between li:nth-child(2) {
        position: absolute;
        left: 36%;
    }
}

@media only screen and (max-width: 1480px) and (min-width: 1400px) {
    html .container {
        max-width: 1350px !important;
    }
    .main-heading {
        padding-left: 0px;
    }
    .pdng-counter {
        padding-left: 120px !important;
    }
    .category-tab .tabs {
        width: 90%;
    }
}



.Ind-heading {
    font-size: 40px;
    font-weight: 500;
}   
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}


.dd_heading{
  text-align: center;
  font-family: roboto thin;
}

.coll-indust .page-content {
    display: grid;
    grid-gap: 2rem;
    margin: 35px 0 65px 0px;
}

@media (min-width: 600px) {
  .coll-indust .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
 .coll-indust .page-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.d_card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .d_card {
    height: 350px;
  }
}
.d_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e),
    -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.d_card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(11.7%, rgba(0, 0, 0, 0.009)),
    color-stop(22.1%, rgba(0, 0, 0, 0.034)),
    color-stop(31.2%, rgba(0, 0, 0, 0.072)),
    color-stop(39.4%, rgba(0, 0, 0, 0.123)),
    color-stop(46.6%, rgba(0, 0, 0, 0.182)),
    color-stop(53.1%, rgba(0, 0, 0, 0.249)),
    color-stop(58.9%, rgba(0, 0, 0, 0.32)),
    color-stop(64.3%, rgba(0, 0, 0, 0.394)),
    color-stop(69.3%, rgba(0, 0, 0, 0.468)),
    color-stop(74.1%, rgba(0, 0, 0, 0.54)),
    color-stop(78.8%, rgba(0, 0, 0, 0.607)),
    color-stop(83.6%, rgba(0, 0, 0, 0.668)),
    color-stop(88.7%, rgba(0, 0, 0, 0.721)),
    color-stop(94.1%, rgba(0, 0, 0, 0.762)),
    to(rgba(0, 0, 0, 0.79))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e),
    -webkit-transform calc(var(--d) * 2) var(--e);
}

.d_card {
    background-position: center;
    background-size: cover;
}
.coll-indust .content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}


.coll-indust .heading {
  font-weight: bold;
  line-height: 1.2;
}

.data-content {
  font-size: 18px;
  line-height: 1.35;
}

@media (hover: hover) and (min-width: 600px) {
  .d_card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .coll-indust .content {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }
  .coll-indust .content > *:not(.heading) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
  }

  .d_card:hover,
  .d_card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }
  .d_card:hover:before,
  .d_card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  .d_card:hover:after,
  .d_card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .d_card:hover .content,
  .d_card:focus-within .content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .d_card:hover .content > *:not(.heading),
  .d_card:focus-within .content > *:not(.heading) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .d_card:focus-within:before,
  .d_card:focus-within:after,
  .d_card:focus-within .content,
  .d_card:focus-within .content > *:not(.heading) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}


body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: var(--Linear, linear-gradient(76deg, #ED5B99 -17.07%, #D45BA7 13.99%, #975DCD 79.06%, #625FEE 130.82%));
    background-repeat: no-repeat;
}
label{font-family: Montserrat;}

.signin-register input,
.signin-register textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.signin-register input:focus,
.signin-register textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #D500F9 !important;
    outline-width: 0;
    font-weight: 400
}

.signin-register button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.signin-register .card {
    border-radius: 0;
    border: none
}
.signin-register .btn-block {
    display: block;
    width: 70%;
}
.signin-register .btn-color {
    color: #000;
    background: #fff !important;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #000;
    margin-top: 20px;
    border-radius: 0 !important;
    color: #000 !important;
}
.signin-register .card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}
#particles-js {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 0px;
    z-index: -1;
}
 .padding-over {
    padding: 100px 80px;
}
.signin-register .card2 {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url(https://testingoncloud.com/Chemmiecomm/asset/images/42883.webp) no-repeat center;
    animation: anim-bg 6s linear infinite alternate;
    padding: 20px;
    background-size: auto;
}
.signin-register #logo {
    width: 70px;
    height: 60px
}
.signin-register .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #000 !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0 !important;
}
.tacbox {
    display: block;
}
.tacbox a {
    color: #4e48b1 !important;
    font-weight: 500;
}
.signin-register input#checkbox {
    padding: 0 !important;
    height: 3em;
    width: 1em;
    vertical-align: middle;
}
.signin-register .heading {
    margin-bottom: 35px !important
}

.signin-register input::placeholder {
    color: #000 !important;
    opacity: 1;
    font-family: Montserrat;
    letter-spacing: 0.5px;
    
}

.signin-register input::-ms-input-placeholder {
    color: #000 !important;
    font-family: Montserrat;
    letter-spacing: 0.5px;
}

.signin-register input::-ms-input-placeholder {
    color: #000 !important;
    font-family: Montserrat;
    letter-spacing: 0.5px;
}

.signin-register .form-control-label {
    font-size: 14px;
    margin-left: 0px;
    font-family: Montserrat;
}

.signin-register .msg-info {
    margin-bottom: 30px;
    font-size: 20px;
}
.signin-register .contnt-hdng {
    padding: 40px;
}
.signin-register .contnt-hdng h3 {
    padding-bottom: 10px;
}
.signin-register .contnt-hdng p {
    line-height: 25px;
    font-size: 16px;
}
.signin-register .btn-white {
    border-radius: 0;
    color: #000;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 1px solid #000 !important;
}

.signin-register a {
    color: #000
}

.signin-register a:hover {
    color: #000
}

.signin-register .bottom {
    width: 100%;
    margin-top: 20px !important
}

.sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
    .signin-register  .card1 {
        width: 100%;
        padding: 40px 0px 10px 0px;
    }

    .signin-register .card2 {
        width: 100%
    }

    .signin-register .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {

    .signin-register .card2 {
        padding: 0px
    }
    .padding-over {
        padding: 30px 30px;
    }
    .signin-register  .contnt-hdng {
        padding: 30px;
    }
    .signin-register .bottom {
        margin-top: 10px !important;
    }
    .signin-register .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
    .signin-register .dnt-accnt {
        margin-top: 5px;
    }
    .signin-register .btn-block {
        display: block;
        width: 100%;
    }
}



.sect-hero-ind {
    display: flex;
    align-items: center;
    position: relative;
}
.hero-heading h1 {
    color: #fff;
    font-size: 60px;
}
.ind-1htrfd {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.slct-all{
    font-size: 15px !important;
    font-weight: 600;
    color: #000;
    background: #dddddd7d;
    margin-bottom: 5px;
}
.ind-dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
    width: 240px;
    z-index: 99;
	height: 40px;
  
    .dropdown-list {
      padding: 12px;
      background: #fff;
      position: absolute;
      top: 40px;
      left: 1px;
      right: 1px;
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
      transform-origin: 50% 0;
      transform: scale(1, 0);
      transition: transform .15s ease-in-out .15s;
      max-height: 66vh;
      overflow-y: scroll;
    }
    
    .dropdown-option {
      display: block;
      padding: 8px 12px;
      opacity: 0;
      transition: opacity .15s ease-in-out;
    }
    
    .dropdown-label {
      display: block;
      height: 40px;
      background: #fff;
      border: 1px solid #ccc;
      padding: 6px 12px;
      cursor: pointer;
      font-family: 'Montserrat';
      
      &:before {
        content: '▼';
        float: right;
      }
    }
    
    &.on {
     .dropdown-list {
        transform: scale(1, 1);
        transition-delay: 0s;
        
        .dropdown-option {
          opacity: 1;
          transition-delay: .2s;
          font-family: 'Montserrat';
          font-size: 13px;
		  display: flex;
		  align-items: center;
        }
      }
      
      .dropdown-label:before {
        content: '▲';
      }
    }
    
    [type="checkbox"] {
      position: relative;
      top: 0px;
      margin-right: 4px;
    }
  }

.ind-suply {
    margin-top: 50px;
    margin-bottom: 50px;
}
  .product_inner img {
    width: 96px;
    height: 96px;
}

.product_inner {
    padding: 0px 20px 0px 20px;
    margin-top: -45px;
    position: relative;
}
.supply-crd {
    background: linear-gradient(-45deg, #4e4e4ef5 20%, rgba(255, 255, 255, 0.5) 115%);
    box-shadow: 1px 5px 15px #CCC;
    height: auto;

}
.product_inner h2 {
    font-size: 15px;
    margin-top: 15px;
}
.wishlist-icn {
    position: absolute;
    top: 75px;
    right: 20px;
    z-index: 9;
    color: #fff;
    cursor: pointer;
}
.ey34via0-grid {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 30px;
}
.product_inner H3 {
    font-size: 18px;
    font-weight: 600;
}
.product_inner p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.more{
	display: none;
	transition: all 1s ease-in-out;
}
.showLink, .hideLink {
    transition: all 1s ease-in-out;
    color: rgb(225 138 255 / 85%) !important;
}
.card-footer a {
    color: #fff;
    font-size: 18px;
}

.ind-2frtdsss {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}

.ind-3rdjkhk {
  display: flex;
  justify-content: end;
}


.make-sticky {
  height: auto;
  position: sticky;
  top: 0;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
  border: 1px solid #ddd;
}
.panel-heading {
  background: #acacaca6;
  border-bottom: 1px solid #0000001a;
}
span.accicon {
  float: right;
  width: 1.2em;
}
.panel-heading .accordion-toggle.collapsed .bi-chevron-down::before {
content: "\F286" !important;
}
/*** Accordion Toggles ***/
.panel-heading {
  position: relative;
}
a.panel-title.accordion-toggle {
  width: 100%;
  display: block;
  color: #000;
  height: 100%;
  padding: 12px 10px;
}
a.panel-title.accordion-toggle:hover{
  text-decoration: none;
}
  .panel-body {
    padding: 16px;
  }
  .panel-body .checkbox label {
    font-family: 'Montserrat';
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.ind-3rdjkhk .dropdown-list {
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
}
.ind-3rdjkhk .dropdown-list a {
  color: #000;
}
.pagination-foot {
  padding-top: 25px;
  margin-bottom: 0;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #535353;
  border-color: #535353;
}
.page-link {
  padding: 10px 20px;
  color: #000;
  border-radius: 0 !important;
}
.page-link:hover {
  color: #000;
}


@media only screen and (max-width: 767px) and (min-width: 320px) {
  .ind-1htrfd {
    flex-direction: column;
}
.ind-2frtdsss {
  display: block;
}
.ind-dropdown {
  width: 95%;
  margin: 0 auto;
    z-index: auto;
}
.ind-suply {
  margin-top: 20px;
  margin-bottom: 50px;
}
.make-sticky {
  margin-bottom: 40px;
}
.ey34via0-grid {
  grid-template-columns: repeat(1, 1fr);
}
ul.pagination.mb-0 {
  justify-content: center;
}
.dropdown-list {
    z-index: 999;
}
.ind-3rdjkhk {
    margin-top: -10px;
}
}









